<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBDA_client"
        tools:targetApi="31">
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AR_SizeActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.popup.Popup_Logout"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AR_ResultActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AI_RecommendActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AR_fittingActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.LikeActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.SearchActivty"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.ClothesDetailsActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.recycler.ItemCloth"
            android:exported="false" />
        <activity
            android:name=".activity.MainLoginActiviy"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>