<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.any" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/el_logo_png"
        android:label="@string/app_name"
        android:roundIcon="@drawable/el_logo_png"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.Login_Signup_Activity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.Login_QR_Activity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AR_SizeActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.popup.Popup_Logout"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AR_ResultActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AI_RecommendActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.AR_fittingActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.LikeActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.ShopActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.SearchActivty"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.MainActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.ClothesDetailsActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.recycler.ItemCloth"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.MainClothesActivity"
            android:exported="false" />
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.LoginActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name="graduation.project.dongyang.el.ibda.activity.LoadingActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- 홈 런처 만들때 필요한 선언 -->
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <!-- 홈 런처 만들때 필요한 선언 -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>